h1 {
  font-family: 'Roboto', sans-serif;
}
span {
  font-weight: bold;
}
img {
  width: 400px;
  border-radius: 10px;
  border: solid rgba(167,167,167,1) 1px;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.container {
  margin: 20px;
  border: solid rgba(167,167,167,1) 1px;
  border-radius: 10px;
  width: 440px;
  box-shadow: 10px 10px 5px 0px rgba(167,167,167,1);
  background-color: #e8e8e8;
}
.content {
  font-family: 'PT Sans', sans-serif;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: solid rgba(167,167,167,1) 1px;

}
.header {
  margin: 20px;
}
